$tablette: "only screen and (max-width: 768px)"
$phone: "only screen and (max-width: 425px)"

*
    padding: 0
    margin: 0
    font-family: 'Mulish', sans-serif
    color: #ffffff
    font-size: 22px

body
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%)
    background-size: 100% 100vh
    height: 98vh
    display: flex
    justify-content: center
    align-items: center

main
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%)
    width: 67.7%
    height: 80%
    border-radius: 25px
    box-shadow: 49px 18px 61px 0px #00000040
    filter: drop-shadow(49px 18px 61px rgba(0, 0, 0, 0.25))
    display: flex
    flex-direction: row


input
    border: none
    background:rgba(255, 255, 255, 0,1)
    box-shadow: -17px 17px 17px 0px #FFFFFF1A inset
    box-shadow: 17px -17px 17px 0px #C2C2C21A inset
    background: rgba(255, 255, 255, 0.1)
    box-shadow: inset 17px -17px 17px rgba(194, 194, 194, 0.1), inset -17px 17px 17px rgba(255, 255, 255, 0.1)
    backdrop-filter: blur(34px)
    border-radius: 15px
    margin-left: 10%


h1
    font-family: 'Montserrat', sans-serif
    color: #fff

    font-size: 36px
    
hr
    width: 50%
    margin-top: 1%  
    

.gauche
    width: 50%
    height: 100%
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 15% 15% 15% 40% 15%
    grid-template-areas: "title" "nom" "mail" "msg" "btn" 
    

.droite
    width: 50%
    height: 100%
    background: blue

.contain-title
    grid-area: title
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    

.contain-nom
    grid-area: nom
    
.contain-p
    display: flex
    
.nom
    width: 35%
    height: 45%

.prenom
    width: 35%
    height: 45%
    margin-left: 3%

.contain-mail
    grid-area: mail

.email
    height: 45%
    width: 73.5%

.contain-msg
    grid-area: msg

.message
    width: 73.5%
    height: 90%

.contain-btn
    grid-area: btn

button
    border: none
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%)
    width: 35%
    height: 45%
    border-radius: 10px

// ______________________________________________________________________________
@media #{$tablette}
    main
        width: 81%
        height: 89%   

// _________________________________________________________________________________________

@media #{$phone}
    main
        width: 76.5%
        height: 96%


