* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  color: #ffffff;
  font-size: 22px;
}

body {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-size: 100% 100vh;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  width: 67.7%;
  height: 80%;
  border-radius: 25px;
  box-shadow: 49px 18px 61px 0px #00000040;
  filter: drop-shadow(49px 18px 61px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: -17px 17px 17px 0px #FFFFFF1A inset;
  box-shadow: 17px -17px 17px 0px #C2C2C21A inset;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 17px -17px 17px rgba(194, 194, 194, 0.1), inset -17px 17px 17px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(34px);
  border-radius: 15px;
}
.message {
  border: none;
  box-shadow: -17px 17px 17px 0px #FFFFFF1A inset;
  box-shadow: 17px -17px 17px 0px #C2C2C21A inset;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 17px -17px 17px rgba(194, 194, 194, 0.1), inset -17px 17px 17px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(34px);
  border-radius: 15px;
}
.message:focus {
  outline: none;
  background: rgba(246, 246, 246, 0.1);
  box-shadow: inset 1.58667px -1.58667px 1.58667px rgba(197, 197, 197, 0.4), inset 3.17333px -3.17333px 3.17333px rgba(255, 255, 255, 0.4), inset -1.58667px 1.58667px 1.58667px rgba(255, 255, 255, 0.4), inset -3.17333px 3.17333px 3.17333px rgba(197, 197, 197, 0.4);
  backdrop-filter: blur(15.8667px);
}
.message:hover {
  border: solid 1px #FFFFFF;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 36px;
}

hr {
  width: 325px;
  margin-top: 1%;
}

.gauche {
  width: 50%;
  height: 100%;
}
.gauche label {
  margin-left: 15px;
  margin-bottom: 10px;
}

form {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 15% 15% 40% 15%;
  grid-template-areas: "title" "nom" "mail" "msg" "btn";
}
form input {
  font-size: 20px;
}
form input:focus {
  outline: none;
  background: rgba(246, 246, 246, 0.1);
  box-shadow: inset 1.58667px -1.58667px 1.58667px rgba(197, 197, 197, 0.4), inset 3.17333px -3.17333px 3.17333px rgba(255, 255, 255, 0.4), inset -1.58667px 1.58667px 1.58667px rgba(255, 255, 255, 0.4), inset -3.17333px 3.17333px 3.17333px rgba(197, 197, 197, 0.4);
  backdrop-filter: blur(15.8667px);
}
form input:hover {
  border: solid 1px #FFFFFF;
}
form input::placeholder {
  color: #ffffffa2;
}

.droite {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45% 35% 20%;
  grid-template-areas: "animation" "info" "icon";
}

.contain-title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contain-title2 {
  display: none;
}

.contain-nom {
  grid-area: nom;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nom {
  width: 87%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-nom {
  width: 100%;
  height: 45%;
}

.contain-mail {
  grid-area: mail;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mail {
  width: 87%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-mail {
  height: 45%;
  width: 100%;
}

.contain-msg {
  grid-area: msg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg {
  width: 87%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message {
  width: 100%;
  height: 100%;
}

.contain-btn {
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  width: 35%;
  height: 45%;
  border-radius: 10px;
}
button:hover {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  cursor: pointer;
}
button:active {
  box-shadow: inset 7px 8px 15px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: info;
  margin-top: 8%;
}
.info img {
  height: 50px;
  width: 50px;
}

.contain-location {
  height: 30%;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}
.contain-location p {
  margin-left: 3%;
}

.contain-gif {
  width: 100%;
  grid-area: animation;
  display: flex;
  justify-content: center;
}
.contain-gif svg {
  width: 50vw;
}

.tel {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  height: 30%;
}
.tel p {
  margin-left: 3%;
}

.adresse-mail {
  display: flex;
  align-items: center;
  height: 30%;
}
.adresse-mail p {
  margin-left: 3%;
}

.icon {
  grid-area: icon;
  display: flex;
  justify-content: center;
}
.icon img {
  width: 65px;
  height: 65px;
}
.icon img:hover {
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.github {
  margin-right: 10%;
}

.insta {
  margin-left: 10%;
}

.contain-right {
  height: 100%;
}

@media only screen and (max-width: 1440px) {
  .info p {
    font-size: 20px;
  }

  .droite {
    grid-template-rows: 35% 45% 20%;
  }
}
@media only screen and (max-width: 1024px) {
  .droite {
    grid-template-rows: 35% 35% 30%;
  }
}
@media only screen and (max-width: 1100px) {
  main {
    width: 81%;
    height: 95%;
    flex-direction: column;
  }
  main p {
    font-size: 18px;
  }
  main h1 {
    font-size: 25px;
  }

  .gauche {
    width: 100%;
    height: 45%;
    order: 1;
  }

  .icon {
    margin-bottom: 2%;
  }
  .icon img {
    width: 45px;
    height: 45px;
  }

  .droite {
    width: 100%;
    height: 55%;
    grid-template-rows: 15% 40% 30% 15%;
    grid-template-areas: "title2" "animation" "info" "icon";
  }

  .contain-title {
    display: none;
    grid-area: title;
  }

  .contain-title2 {
    display: block;
    grid-area: title2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contain-title2 hr {
    margin-top: 0;
    width: 220px;
  }

  .info {
    margin: 0;
  }

  .contain-info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "location tel" "mail mail";
  }
  .contain-info img {
    width: 35px;
    height: 35px;
  }

  .contain-location {
    grid-area: location;
    justify-content: center;
    margin-top: 6%;
  }

  .tel {
    grid-area: tel;
    justify-content: center;
    margin-top: 6%;
  }

  .adresse-mail {
    justify-content: center;
    margin-top: 3%;
    grid-area: mail;
  }

  form {
    display: grid;
    grid-template-rows: 20% 20% 45% 15%;
    grid-template-columns: 100%;
    grid-template-areas: "nom" "mail" "msg" "btn";
  }
  form input {
    font-size: 15px;
  }

  p {
    margin: 0;
  }

  .msg {
    height: 100%;
  }
  .msg p {
    margin-bottom: 1%;
    margin-left: 2%;
  }

  .message {
    height: 80%;
  }

  .contain-btn button {
    height: 70%;
    width: 30%;
  }
}
@media only screen and (max-width: 425px) {
  main {
    width: 90%;
    height: 97%;
  }
  main p {
    font-size: 14px;
  }

  .contain-gif {
    width: 89vw;
    margin-left: 0;
  }

  .contain-title2 h1 {
    font-size: 20px;
  }
  .contain-title2 hr {
    width: 185px;
  }

  .contain-location {
    justify-content: flex-start;
  }

  .info {
    justify-content: center;
  }

  .tel {
    justify-content: flex-start;
  }

  .adresse-mail {
    justify-content: flex-start;
  }

  .info {
    width: 85%;
    display: flex;
    justify-content: center;
  }

  .contain-info {
    width: 100%;
    margin-left: 42%;
    grid-template-columns: 100%;
    grid-template-rows: 35% 35% 35%;
    grid-template-areas: "location" "tel" "mail";
  }
  .contain-info img {
    width: 30px;
    height: 30px;
  }

  .icon {
    height: 50%;
  }
  .icon img {
    width: 35px;
    height: 35px;
  }

  form label {
    font-size: 15px;
  }
  form #msg {
    font-size: 15px;
  }
  form input {
    font-size: 15px;
  }

  .contain-btn button {
    font-size: 15px;
    height: 60%;
  }

  .icon img:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 320px) {
  .contain-info {
    margin-left: 40%;
  }

  .contain-location {
    width: 200px;
  }
}
@media only screen and (max-width: 550px) {
  main p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
