$tablette: "only screen and (max-width: 768px)"
$phone: "only screen and (max-width: 425px)"
body
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%)
    background-size: 100% 100vh
    height: 98vh
    display: flex
    justify-content: center
    align-items: center

main
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%)
    width: 67.7%
    height: 80%
    border-radius: 25px

@media #{$tablette}
    main
        width: 81%
        height: 89%             

@media #{$phone}
    main
        width: 76.5%
        height: 96%


